/* PROJECT SECTION */

.project{
    min-height:100vh;
    background-color:#030341;
    padding:80px 50px;
}

.pro h1{
    text-align:center;
    font-size:50px;
    color:bisque;
    margin-bottom:50px;
}

.project-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.project-box{
    width:350px;
    min-height:400px;
    background:#0f4c5c;
    border:3px solid aqua;
    border-radius:20px;
    padding:25px;
    text-align:center;
    transition:0.4s;
}

.project-box:hover{
    transform:translateY(-10px);
    box-shadow:0 0 20px aqua;
}

.project-box h2{
    font-size:28px;
    color:aqua;
    margin-bottom:15px;
}

.project-box h3{
    font-size:24px;
    color:white;
    margin-bottom:20px;
}

.project-box p{
    font-size:18px;
    color:#dcdcdc;
    line-height:1.8;
}

/* MOBILE VIEW */

@media(max-width:768px){

    .project{
        padding:50px 20px;
    }

    .pro h1{
        font-size:38px;
    }

    .project-box{
        width:100%;
    }

    .project-box h2{
        font-size:24px;
    }

    .project-box h3{
        font-size:20px;
    }

    .project-box p{
        font-size:16px;
    }
}